# Local configuration files
config.xml
profanity.txt
*.der
*.pem

# Local scripts
*.sh
*.bat

# Logs
logs

# Payload data
payload

# Reload state
state

# Executables
*.exe
*.exe~

# Editor files
.vscode

wwfc
